@model IEnumerable<BLOG.Models.COMMENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AUTHOR.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BODY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AUTHOR.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POST.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BODY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
